@font-face {
  font-family: 'iconfont';  /* project id 134322 */
  src: url('//at.alicdn.com/t/font_134322_2xfypoodxhd.eot');
  src: url('//at.alicdn.com/t/font_134322_2xfypoodxhd.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_134322_2xfypoodxhd.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_134322_2xfypoodxhd.woff') format('woff'),
  url('//at.alicdn.com/t/font_134322_2xfypoodxhd.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_134322_2xfypoodxhd.svg#iconfont') format('svg');
}
/*图标*/
.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
}

.edit {
	font-size: 24px;
}

.del {
	font-size: 20px;
}

.sign {
	font-size: 20px;
	margin: 0;
}
/*头部*/
.header {
	width: 100%;
	height: 85px;
	background: #313131;
}

.logo {
	line-height: 80px;
	font-size: 30px;
	color: #fff;
	letter-spacing: 3px;
	margin-left: 50px;
	float: left;
}

.nav {
	margin: 0 auto;
	width: 30%;
	height: 80px;
}

.nav ul li {
	float: left;
	width: 120px;
	color: #FFFDEF;
	line-height: 80px;
}

.nav ul li a {
	color: #FFFDEF;
	font-size: 18px;
}

.top-nav {
	float: right;
	width: 370px;
	height: 80px;
	color: #fff;
	margin-right: 80px;
	text-align: center;
}

.u {
	width: 60px;
	height: 30px;
	line-height: 45px;
	text-align: center;
	margin-bottom: 15px;
	float: left;
}

.u1 {
	width: 150px;
	height: 30px;
	line-height: 45px;
	text-align: center;
	margin-bottom: 15px;
	float: left;
}

.upassword {
	width: 100px;
	height: 30px;
	line-height: 45px;
	text-align: center;
	margin-bottom: 15px;
	float: left;
}

.top-nav ul li a {
	color: #FFFFFF;
}
/*左侧菜单*/
.left-menu {
	width: 100%;
	background: #626262;
	height: 100%;
	overflow: hidden;
}

.left-menu ul li {
	width: 300px;
}

.left-menu ul li h4 {
	padding-left: 60px;
	font-size: 16px;
	color: #f5f5f5;
	display: block;
	line-height: 48px;
	font-weight: normal;
}

.left-menu ul li h4 a {
	color: #FFFFFF;
}
/*右侧内容*/
.content {
	padding: 30px 20px;
	width: 100%;
	height: 800px;
	float: left;
}

.title-bj {
	width: 10px;
	height: 25px;
	background: #626262;
	float: left;
	margin-right: 10px;
}
/*表格表单*/
.content table {
	width: 100%;
	text-align: center;
}

table tr {
	height: 40px;
}

table tr td a {
	color: #000;
	/* margin-right: 15px; */
}

.form {
	padding-top: 20px;
	margin-top: 10px;
}

.form label {
	font-size: 16px;
	text-align: right;
	width: 100px;
	margin-left: 20px;
	height: 30px;
	line-height: 30px;
	display: inline-block;
}

.form input {
	width: 170px;
	height: 32px;
	line-height: 32px;
	margin-bottom: 15px;
}

.content table tr td input {
	height: 30px;
	line-height: 30px;
	border: 1px solid #DCDCDC;
	text-align: center;
}
/*按钮*/
.content input[type=button] {
	width: 100px;
	height: 32px;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	border: none;
}

.query {
	background: #31B0D5;
	color: #FFFFFF;
}

.add {
	background: #79c273;
	color: #FFFDEF;
	letter-spacing: 3px;
}

.submit {
	background: #ff6424;
	color: #FFFDEF;
	letter-spacing: 3px;
}

/*优惠*/
.discount {
	margin-left: 30px;
}

.discount-input input {
	width: 50px;
	height: 25px;
	margin-left: 3px;
}

.footer {
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #FFFDEF;
	background: #313131;
}

.adduser {
	width: 540px;
	margin: 20px auto;
	padding-left: 60px;
}

.title-add {
	background: #31B0D5;
	width: 10px;
	height: 25px;
	margin-top: 15px;
	margin-left: 30px;
	float: left;
	margin-right: 10px;
}

.adduser h2, .dnlist h2, .evaluation h2, .orderxx h2 {
	padding-top: 12px;
	color: #9d9d9d;
}

.user-form {
	margin-left: 30px;
}

.user-form label {
	width: 100px;
	text-align: right;
}

.user-form input {
	width: 180px;
	height: 32px;
	margin-bottom: 30px;
	line-height: 32px;
}

.user-form select {
	width: 180px;
	height: 32px;
	margin-bottom: 30px;
	line-height: 32px;
}

.btn {
	width: 220px;
	height: 32px;
	margin-left: 125px;
}

input.save {
	float: left;
	width: 80px;
	height: 32px;
	display: block;
	background: #31B0D5;
	cursor: pointer;
	margin-right: 10px;
	border: none;
	color: #ffffff;
}

.dnlist {
	width: 800px;
	margin: 0 auto;
}

.dnlist table {
	width: 600px;
	border: 0px solid red;
	border-collapse: 1;
	border-collapse: 1;
}
/*点餐评价*/
.evaluation {
	width: 640px;
	margin: 0 auto;
}

.evaluation textarea {
	width: 430px;
	height: 150px;
	text-align: left;
}

.evaluation p {
	padding-top: 130px;
	font-size: 16px;
}

.sure {
	width: 100px;
	text-align: center;
	height: 32px;
	line-height: 32px;
	background: #31B0D5;
	color: #FFFFFF;
	border: none;
}
/*订单信息*/
.orderxx {
	width: 900px;
	margin: 0 auto;
}

.orderxx p {
	text-align: right;
	font-size: 16px;
}

.con {
	width: 860px;
	padding: 20px;
	margin-top: 20px;
	background: #fbfbfb;
}

.con p {
	text-align: left;
}

.con input[type=button], .orderxx-title input[type=button], .dnlist input[type=button]
	{
	width: 60px;
	height: 32px;
	background: #31B0D5;
	color: #FFFFFF;
	margin-right: 10px;
}

.orderxx-title input[type=button], .dnlist input[type=button] {
	width: 80px;
	border: none;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	border: medium none;
}

.con input {
	width: 170px;
	height: 32px;
	line-height: 32px;
	margin: 0 5px;
}

.con table {
	width: 100%;
	margin: 20px auto;
}

/*批量点餐*/
.batch {
	width: 800px;
	height: 600px;
	margin: 0 auto;
}

.batch-title {
	width: 760px;
	padding: 20px;
	background: #f4f3f3;
}

.title-batch {
	width: 10px;
	height: 25px;
	background: #31B0D5;
	float: left;
	margin-right: 10px;
}

.batch-title span.select {
	font-size: 16px;
	color: #000000;
	margin-left: 12px;
}

.batch-con {
	margin-top: 5px;
}

.batch-con span {
	display: inline-block;
	font-size: 16px;
	margin: 10px 12px 3px 10px;
}

.food {
	width: 800px;
	height: 30px;
}

.food h3 {
	font-size: 18px;
}

.food h3 input {
	width: 170px;
	height: 30px;
	font-size: 14px;
	line-height: 30px;
}

.suclose {
	width: 200px;
	height: 30px;
}

.suclose input[type=button] {
	width: 80px;
	background: #31B0D5;
	line-height: 30px;
	text-align: center;
	margin-right: 10px;
	height: 30px;
	font-size: 14px;
	font-weight: bold;
	border: medium none;
	color: #FFFFFF;
}