*{font-family: "微软雅黑"; margin: 0; padding: 0;}
@font-face {
  font-family: 'iconfont';  /* project id 134322 */
  src: url('//at.alicdn.com/t/font_134322_2xfypoodxhd.eot');
  src: url('//at.alicdn.com/t/font_134322_2xfypoodxhd.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_134322_2xfypoodxhd.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_134322_2xfypoodxhd.woff') format('woff'),
  url('//at.alicdn.com/t/font_134322_2xfypoodxhd.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_134322_2xfypoodxhd.svg#iconfont') format('svg');
}
/*图标*/
.iconfont{
    font-family:"iconfont" !important;
    font-size:20px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    color: #CCCCCC;
    position: absolute;
    right: 30px;
    margin-top: 10px;
}

body,html{
	overflow: hidden;
}
/*登录页面*/
.login-bj{
	width: 100%;
	height: 1000px;
	max-width: 1900;
	min-width: 1200px;
	background: #000000;
	background: url(../img/login_bj.jpg) repeat-y;
	overflow: hidden;

}
.box{
	width: 1366px;
	height: 1000px;
	margin: 0 auto;
	position: relative;
}
.login{
	width: 398px;
	height: 418px;
	background: rgba(255,255,255,.1);
	border: 1px solid #FFFFFF;
	position: absolute;
	top:200px;
	right:5%;
}
.login h3{
	margin-top: 60px;
	margin-bottom: 40px;
	letter-spacing: 5px;
	text-align: center;
	font-size: 28px;
	color: #FFFFFF;
	font-weight: normal;
}
.login form input{
	width: 340px;
	height: 45px;
	line-height: 45px;
	border: none;
	font-size: 16px;
	padding-left: 20px;
	margin-left: 20px;
	margin-bottom: 18px;
	border-radius:8px ;
	position: relative;
}
input[type=button]{
	width: 360px;
	height: 45px;
	background: #06c5f2;
	letter-spacing: 3px;
	border-radius: 8px;
	font-size: 16px;
	color: #FFFFFF;
	border:none;
}

input[type=button]:hover{
	background: rgba(6,197,242,.9);
}

