html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
ol,ul li {list-style:none} 
a{ text-decoration: none;}
fieldset,img,button{border:none;} 
address,caption,cite,code,dfn,em,strong,th,var {font-style:normal;} 
caption,th,td{text-align:center} 
body{font-family:Microsoft YaHei,Verdana,Arial,SimSun;color:#666;font-size:14px;background:#f6f6f6;}
.clearfix:after{clear:both;} 
.clearfix{ *zoom:1;/*IE/7/6*/}

.fl{float:left;}
.fr{float: right;}
.fw{font-weight: bold;}
.f12{font-size: 12px;}
.f14{font-size: 14px;}
.f16{font-size: 16px;}

.mt10{margin-top: 10px;}
.mt15{margin-top: 15px;}
.mt20{margin-top: 20px;}
.mr15{margin-right: 15px;}
.mr20{margin-right: 20px;}
.mb15{margin-bottom: 15px;}
.mb20{margin-bottom: 20px;}
.mb50{margin-bottom: 20px;}
.ml10{margin-left: 10px;}
.ml15{margin-left: 15px;}
.ml20{margin-left: 20px;}

.pt15{padding-top: 15px;}
.pt20{padding-top: 20px;}
.pr15{padding-right: 15px;}
.pr20{padding-right: 20px;}
.pt15{padding-bottom: 15px;}
.pt20{padding-bottom: 20px;}
.pl15{padding-left: 15px;}
.pl20{padding-left: 20px;}
